@import '../../../theme.scss';
.navication-container {
  display: flex;
  background: $navication-bar-color;
  height: 80px;
}
.navication-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 44px;
  span{
    font-size: 20px;
    font-weight: 500;
    color: $font-color;
  }
}

.navication-back-button {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 50px;
  background: #dce3eb;
  &:hover {
    background: #becbda;
    cursor: pointer;
  }

}
